.homePageText {
  color: rgb(231, 233, 234);
  font-family: Helvetica, sans-serif, Arial;
  word-break: break-all;

  h1 {
    font-size: 64px;
    font-weight: 800;
    letter-spacing: -1.2px;
    margin: 35px 0;
  }

  h3 {
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}
