.reUseableButton {
  border: none;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 9999px;
  min-width: 266px;
  max-width: 322px;
  height: 38px;
  padding: 0 16px;
  text-align: center;
  margin: 10px 0 5px 0;
  font-size: 15px;
  font-family: arial;
  font-weight: 700;
  cursor: pointer;

  .buttonLogo {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 15px;
  }
}
