@use "../../../../assets/util/breakpoints.scss" as *;

.conditionContainer {
  width: 50%;
  min-width: 266px;
  margin-left: 10px;
  line-height: 12px;
  @include respond-to("tablet") {
    width: 315px;
  }
  .signUpConditions {
    color: rgb(113, 118, 123);
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    a {
      color: rgb(29, 155, 240);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
