.buttonsTextBorder {
  width: 266px;
  height: 20px;
  padding: 0 16px;
  display: flex;
  align-items: center;

  span {
    color: white;
  }
  .line {
    background-color: rgb(47, 51, 54);
    height: 1px;
    width: 100%;
    margin: 10px;
  }
}

.lightMode {
  .line {
    height: 0.5px;
    opacity: 0.2;
  }

  span {
    color: rgb(15, 20, 25);
  }
}
