@use "../../assets/util/breakpoints.scss" as *;

.footer {
  width: 90%;
  margin: auto;
  padding: 20px 0;
  color: white;
  bottom: 0;
  font-size: 13px;
  color: rgb(113, 118, 123);
  @include respond-to("laptop") {
    text-align: center;
    width: 95%;
  }

  .linksContainer {
    margin-bottom: 10px;
    text-align: center;
    .links {
      text-decoration: none;
      padding-right: 12px;
      color: rgb(113, 118, 123);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
