@use "../../../../assets/util/breakpoints.scss" as *;

.existingAccount {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding-bottom: 40px;
  @include respond-to("laptop") {
    padding-bottom: 0;
  }
  h4 {
    font-size: 17px;
    margin: 30px 0 0 0;
    @include respond-to("laptop") {
      margin: 45px 0 10px 0;
    }
  }
  .signInButton {
    min-width: 266px;
    max-width: 322px;
    height: 46px;
    background-color: transparent;
    color: rgb(29, 155, 240);
    border: 1px solid rgb(83, 100, 113);

    &:hover {
      background-color: rgb(29, 155, 230, 0.1);
    }
  }
}

.darkMode {
  color: rgb(231, 233, 234);
}

.lightMode {
  color: rgb(15, 20, 25);
}
