@use "../../../assets/util/breakpoints.scss" as *;

.rightHomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 315px;
  margin: auto;
  @include respond-to("laptop") {
    min-width: 580px;
    width: 80%;
    margin-left: 25px;
    align-items: flex-start;
  }

  .logoContainer {
    width: 315px;
    margin: auto;
    @include respond-to("tablet") {
      margin: 0;
    }
    .twitterLogo {
      width: 43px;
      height: 43px;
      margin: 35px 0 0 0;
      opacity: 0.85;
      align-self: flex-start;
      @include respond-to("laptop") {
        margin: 35px 25px 15px 0;
      }
    }
  }
}
