@use "../../../assets/util/breakpoints.scss" as *;

.rightHomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include respond-to("tablet") {
    width: 80%;
    min-width: 530px;
    margin-left: 35px;
  }

  .twitterLogo {
    width: 43px;
    height: 43px;
    margin: 35px 25px 15px 0;
    opacity: 0.85;
  }
}
